/*
Тествоое задание
Автор:Чупанов Руслан
email:ruslanchupanov05@gmail.com
*/
:root{
    --main-color: #3272C0;
}

input:focus{
    box-shadow: none;
}
.phone{
    display: flex;
    align-items: center;
}
.popup__container{
    display: flex;
    height: 100%;
    width: 100%;
}
.popup_body{
    margin: auto;
    width: 600px;
    background-color: #fff;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    position: relative;
}

.border-none{
    border: unset;
}
.outline-none{
    outline: unset;
}
.modal-header{
    border-top: unset;
}
.btn{
    border: unset;
}
.btn:focus,.btn-close:focus{
    border: unset;
    box-shadow: none;
}
{

}
.btn.btn-bottom{
    color: #737373;
}
.btn.btn-bottom:focus,.btn-bottom.active{
    color: #000;
    border-bottom: 2px solid var(--main-color);
}
.popup .model-dialog{
    flex-direction: column;
}
.nav-tabs p{

    font-size: 1.5rem;
}
.subbtn{
    color: #ffffff;
    background-color: var(--main-color);
}
.btn.subbtn:hover{
    border: 2px var(--main-color) solid;
}
.form-group.has-error input{
    border: 2px #DC5A63 solid;
}
.form-group.has-error label{
    color: #DC5A63;
}
.help-block{
    /*display: none;*/
}
.form-group {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-control{
    background: #fff;
    padding: 10px;
    border: 1px solid #6c6c6c;
    color: #000;

}

.control-label{
    position: absolute;
    color: #6c6c6c;
    top: -10px;
    left: 20px;
    background: #fff;
    padding: 0 5px;
}
.tab__title p{
    font-size: 1rem;
}
.form-group button[type="reset"] {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    color: #666;
    border: 0;
    display: none;
    padding: 0 10px;
    border-radius: 50%;
    background-color: #fff;
    transition: background 200ms;
    outline: none;
}
.form-group button[type="reset"]:hover {
    background-color: #eee;
}
.form-group input:valid ~ button[type="reset"] {
    display: block;
}
.reset_button{
    font-size: 1rem;
}